

<!-- Footer -->
<footer id="footer">
<section>
<h2>Localizaçao</h2>
<dl class="alt">
<dt>Endereço</dt>
<dd>Rua Antares, 88; Fortaleza, Ceará; Brasil</dd>
<dt>Telefone</dt>
<dd>(85) 9.8963-8005</dd>
<dt>Email</dt>
<dd><a href="#">viniciusoruam89@gmail.com</a></dd>
</dl>
<ul class="icons">
<li><a href="https://www.facebook.com/orusys1/" target="_blank" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
<li><a href="https://www.instagram.com/orusystech/" target="_blank" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
<li><a href="https://github.com/vini1809" target="_blank" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
</ul>
</section>
<p class="copyright">&copy;Direitos Reservados <a href="">Orusys Tech & Designer CO</a>.</p>
</footer>

</div>

<!-- Scripts -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrollex.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.scrolly.min.js}"></script>
<script type="text/javascript" th:src="@{/js/browser.min.js}"></script>
<script type="text/javascript" th:src="@{/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>