<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Orusys Tech & Designer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<noscript><link rel="stylesheet" type="text/css" th:href="@{/css/noscript.css}" /></noscript>
	</head>
	<body class="is-preload">
		<div class="whatsapp-button">
			<a href="https://wa.me/5585989638005" target="_blank" rel="noopener noreferrer">
				<img th:src="@{/css/images/WhatsApp_Logo_PNG_Sem_Fundo_Transparente.png}" alt="WhatsApp Icon">
			</a>
		</div>

		<!-- Wrapper -->
		<div id="wrapper">
				<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box">
      <li><a class="menu__item" href="#">Inicio</a></li>
      <li><a class="menu__item" href="#">Sobre mim</a></li>
      <li><a class="menu__item" href="#">Serviços</a></li>
      <li><a class="menu__item" href="#">Projetos</a></li>
      <li><a class="menu__item" href="#">Contato</a></li>
    </ul>
  </div>

				<!-- Header -->
					<header id="header" class="alt">
                        <a th:href="@{/}" class="logo"><span><img th:src="@{/css/images/Logotipo.webp}" alt="Logo-Orusys" /></span></a>
						
						<p>Soluções Tecnológicas | |<br />
						Design de criativos <ul class="icons">
							<li><a href="https://www.facebook.com/orusys1/" target="_blank" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/orusystech/" target="_blank" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/vini1809" target="_blank" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
						</ul>
					</header>

