<div th:replace="compartilhado/topo"></div>

					<section id="first" class="main special" style="background-color: aliceblue"><br><br><br>
							<h2 style="color: #000;">Tecnologias que tenho dominio</h2>
					<div class="container">
						<div class="image-container">
							<img th:src="@{/css/images2/HTML5.png}" alt="HTML5">
							<span>HTML5</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/CSS.png}" alt="CSS">
							<span>CSS</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/JS.png}" alt="JS">
							<span>JS</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/JAVA.png}" alt="JAVA">
							<span>JAVA</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/SPRINGBOOT.png}" alt="SPRINGBOOT">
							<span>SPRINGBOOT</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/PYTHON.png}" alt="PYTHON">
							<span>PYTHON</span>
						</div>
						
					</div>
					<div class="container">
						<div class="image-container">
							<img th:src="@{/css/images2/AFTER.png}" alt="AFTER EFFECTS">
							<span>AFTER EFFECTS</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/PHOTOSHOP.png}" alt="PHOTSHOP">
							<span>PHOTOSHOP</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/CANVA.png}" alt="CANVA">
							<span>CANVA</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/OFFICE.png}" alt="OFFICE">
							<span>OFFICE</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/WINDOWS.png}" alt="WINDOWS">
							<span>WINDOWS</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/LINUX.png}" alt="LINUX">
							<span>LINUX</span>
						</div>
						
					</div>
					<div class="container">
						<div class="image-container">
							<img th:src="@{/css/images2/AWS.png}" alt="AWS">
							<span>AWS</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/ORACLECLOUD.png}" alt="ORACLECLOUD">
							<span>ORACLECLOUD</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/GITHUB.png}" alt="GITHUB">
							<span>GITHUB</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/VSCODE.png}" alt="VISUAL STUDIO CODE">
							<span>VISUAL STUDIO CODE</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/WORDPRESS.png}" alt="WORDPRESS">
							<span>WORDPRESS</span>
						</div>
						<div class="image-container">
							<img th:src="@{/css/images2/MYSQL.png}" alt="MYSQL">
							<span>MYSQL</span>
						</div>
						
					</div>
					</section>
					<section id="intro" class="main">
						<div class="spotlight">
							<div class="content">
								<header class="major">
									<h2>Certificado Oracle Next ONE</h2>
								</header>
								<p>Formação | INICIANTE EM PROGRAMAÇÃO - ONE</p><br>
								<p>4 cursos da formação com carga horária estimada em 60 horas.<br>
								JavaScript e HTML: desenvolva um jogo e pratique lógica de programação<br>
								JavaScript e HTML: pratique lógica com desenhos, animações e um jogo<br>
								JavaScript: programando na linguagem da web<br>
								Git e Github: controle e compartilhe seu código	</p>
								<ul class="actions">
							<li><a href="https://cursos.alura.com.br/degree/certificate/560a7a13-dd6a-4714-ba97-4e231d73338f" target="_blank" class="button">Visualizar Certificado</a></li>
								</ul>
							</div>
							<div>
							<span class="image"><img th:src="@{/css/images2/INICIANTE_FRONT.png}" alt="img_web" /></span><br>
							<span class="image"><img th:src="@{/css/images2/INICIANTE_BACK.png}" alt="img_web" /></span>
						</div>
						</div>
					</section>
					<section class="main" style="background-color: aliceblue; color: #000;"> 
						<div class="spotlight">
							<div class="content">
								<header class="major">
									<h2 style="color: #000;">Certificado Oracle Next ONE</h2>
								</header>
								<p>Formação | BUSINESS AGILITY - ONE</p><br>
								<p> 4 cursos da formação com carga horária estimada em 27 horas.<br>
									Agilidade: promovendo a transformação ágil<br>
									A Empresa Ágil: implemente o Business Agility nas organizações<br>
									Gestão Ágil: liderando a mudança em um ambiente de agilidade<br>
									Organização de Equipes Ágeis: os papéis existentes em uma equipe</p>
								<ul class="actions">
							<li><a href="https://cursos.alura.com.br/degree/certificate/e44f2764-1d30-4504-8f42-a7c87860aea1" target="_blank" class="button">Visualizar Certificado</a></li>
								</ul>
							</div>
							<div>
							<span class="image"><img th:src="@{/css/images2/BUSS_FRONT.png}" alt="" /></span><br>
							<span class="image"><img th:src="@{/css/images2/BUSS_BACK.png}" alt="" /></span>
						</div>
						</div>
					</section>
					<section id="intro" class="main">
						<div class="spotlight">
							<div class="content">
								<header class="major">
									<h2>Desenvolvimento Web</h2>
								</header>
								<p>O que é Desenvolvimento Web?</p><br>
								<p>O desenvolvimento web envolve a criação de sites 
									e aplicativos para a internet. Esse processo inclui 
									planejamento de design, codificação, implementação de 
									funcionalidades e otimização para proporcionar uma experiência 
									de usuário excepcional.
								</p>	
								<ul class="actions">
									<li><a href="#" class="button">Meus Projetos</a></li>
								</ul>
							</div>
							<span class="image"><img th:src="@{/css/images/img.jpg}" alt="img_web" /></span>
						</div>
					</section>
					<section id="intro" class="main" style="background-color: aliceblue; color: #000;"> 
						<div class="spotlight">
							<div class="content">
								<header class="major" >
									<h2 style="color: #000;">Desenvolvimento Web</h2>
								</header>
								<p>O que é Desenvolvimento Web?</p><br>
								<p>O desenvolvimento web envolve a criação de sites 
									e aplicativos para a internet. Esse processo inclui 
									planejamento de design, codificação, implementação de 
									funcionalidades e otimização para proporcionar uma experiência 
									de usuário excepcional.
								</p>	
								<ul class="actions">
									<li><a href="#" class="button">Meus Projetos</a></li>
								</ul>
							</div>
							<span class="image"><img th:src="@{/css/images/img.jpg}" alt="img_web" /></span>
						</div>
					</section>

<div th:replace="compartilhado/baixo"></div>